.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto; 
    width: 100%;
    max-width: 540px;
}

.form-container {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 20px 10px; 
    align-items: stretch;
}

.form-container {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 20px 10px; 
    align-items: stretch;
}

.form-title {
    font-family: var(--font-serif);
    font-size: 42px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 12px;
}

.form-title span {
    color: var(--color-primary-100);
}

.form-subtitle {
    font-size: 16px;
    line-height: 1.4;
    color: var(--color-grey-500);
    margin-bottom: 24px;
}

.info-banner {
    display: flex;
    align-items: center;
    gap: 15px;

    background-color: var(--color-primary-900);
    border: 1px solid var(--color-primary-300);
    
    border-radius: 10px;
    padding: 16px 20px;
    margin-bottom: 24px;
}

.info-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
    background-color: var(--color-primary-100);
    color: var(--color-primary-900);

    width: 20px;
    height: 20px;

    border-radius: 50%;
    flex-shrink: 0;
}

.info-banner p {
    margin: 0;
    font-size: 14px;
    color: var(--color-primary-100);
    line-height: 1.4;
}

#login-error-alert,
#register-error-alert,
#register-success-alert,
#forgot-success-alert,
#reset-success-alert,
#forgot-error-alert,
#reset-error-alert {
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 10px;
    padding: 16px 20px;
    margin-bottom: 24px;
    
    font-size: 14px;
    line-height: 1.4;
    color: var(--color-white);
}

#login-error-alert::before,
#register-error-alert::before,
#register-success-alert::before,
#forgot-success-alert::before,
#reset-success-alert::before,
#forgot-error-alert::before,
#reset-error-alert::before {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;

    width: 20px;
    height: 20px;

    border-radius: 50%;
    flex-shrink: 0;
}

#login-error-alert,
#register-error-alert,
#forgot-error-alert,
#reset-error-alert {
    background-color: var(--color-red-300);
    border: 1px solid var(--color-red-400);
}

#login-error-alert::before,
#register-error-alert::before,
#forgot-error-alert::before,
#reset-error-alert::before {
    content: '!';
    background-color: var(--color-white); 
    color: var(--color-red-300); 
}

#register-success-alert,
#reset-success-alert,
#forgot-success-alert {
    background-color: var(--color-green-300); 
    border: 1px solid var(--color-green-500); 
}

#register-success-alert::before,
#reset-success-alert::before,
#forgot-success-alert::before {
    content: '✓';
    background-color: var(--color-green-500); 
    color: var(--color-green-300);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    background-color: var(--color-black);
    border: 1px solid var(--color-grey-400);
    color: var(--color-white);
    font-family: inherit;
    
    border-radius: 10px;
    padding: 12px 14px;
    
    font-size: 15px;
    transition: 0.15s ease-in-out;
}

.form-group input:focus {
    border-color: var(--color-grey-700);
    box-shadow: 0 0 0 3px var(--color-grey-500);
    outline: 0;
}

.form-group input::selection {
    background-color: var(--color-white);
    color: var(--color-primary-900);
}

.form-group input::placeholder {
    color: var(--color-grey-500);
}

.forgot-password-wrapper {
    text-align: right;
    margin-top: 16px;
}

.text-link {
    color: var(--color-primary-300);
    text-decoration: none;
    font-size: 0.9rem;
}

.text-link:hover {
    text-decoration: underline;
}

.secondary-link {
    font-size: 14px;
}

.btn-submit, .btn-browse {
    display: block;
    width: 100%;

    font-family: inherit;
    font-size: 15px;

    padding: 12px;
    border-radius: 10px;
    
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    
    transition: background-color 0.2s ease;
}

.btn-submit {
    background-color: var(--color-primary-500);
    border: 1px solid var(--color-primary-300);
    color: var(--color-primary-100);
}

.btn-submit:hover {
    background-color: var(--color-primary-400);
}

.btn-browse {
    background-color: var(--color-black);
    border: 1px solid var(--color-grey-400);
    color: var(--color-grey-400);
}

.btn-browse:hover {
    background-color: var(--color-grey-250);
    color: var(--color-grey-500);
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;

    color: var(--color-grey-400);
    font-size: 15px;
    margin: 20px 0;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--color-grey-400);
}

.divider span {
    padding: 0 10px;
}

.form-footer {
    text-align: center;
    font-size: 14px;
    color: var(--color-grey-400);
    margin-top: 24px;
}

.section-label {
    display: block;
    font-size: 0.9rem;
    color: #666666;
    margin-bottom: 12px;
}

.role-grid {
    display: flex;
    gap: 16px;
    width: 100%;
}

.role-card {
    flex: 1;
    display: flex;
    align-items: flex-start;

    gap: 16px;
    background-color: var(--color-black);
    border: 1px solid var(--color-grey-400);
    border-radius: 10px;

    padding: 16px;
    cursor: pointer;
    position: relative;
    transition: 0.25s ease;
}

.role-card input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* Custom Outer Ring Style */
.radio-indicator {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;

    border: 1px solid var(--color-grey-400);
    border-radius: 50%;
    flex-shrink: 0;
    transition: 0.2s ease;
}

.radio-indicator::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.2s ease;
}

.role-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 6px;
}

.role-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.role-title {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
}

.role-desc {
    color: var(--color-grey-400);
    font-size: 14px;
    line-height: 1.4;
}

.role-card:has(input[type="radio"]:checked) {
    background-color: var(--color-primary-900); 
    border-color: var(--color-primary-300);    
}

.role-card input[type="radio"]:checked ~ .role-content .radio-indicator {
    border-color: var(--color-primary-300);
}

.role-card input[type="radio"]:checked ~ .role-content .radio-indicator::after {
    background-color: var(--color-primary-300);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  transition: background-color 600000s ease-in-out 0s, color 600000s ease-in-out 0s;
}

/* split layout for auth pages */
.split-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-black);
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 40px 0;
}

.split-left {
    background: var(--color-primary-900);
    border-right: 1px solid var(--color-grey-400);
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.left-content {
    max-width: 720px;
}

.hero-title {
    font-family: var(--font-serif);
    font-style: italic;
    font-size: 64px;
    font-weight: 500;

    line-height: 1.1;
    letter-spacing: -1px;

    margin-bottom: 20px;
    color: var(--color-white);
}

.hero-title span {
    color: var(--color-primary-100);
}

.hero-description {
    font-size: 16px;
    color: var(--color-white);
    line-height: 1.6;
    margin-bottom: 30px;
}

.left-footer {
    font-size: 14px;
    color: var(--color-grey-500);
}

.split-right {
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;

    overflow-y: auto;
}

.stats-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    padding-top: 15px;
    border-top: 1px solid var(--color-grey-400);
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 

    gap: 4px;
}
.stat-number {
    font-family: var(--font-serif);
    font-style: italic;
    font-size: 48px;
    font-weight: 400;

    color: var(--color-primary-100);
    letter-spacing: -1px;
}

.stat-label {
    font-size: 16px;
    color: var(--color-grey-500);
}