header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding: 20px 30px;
    border-bottom: 1px solid var(--color-grey-400);

    height: 80px;
    background-color: var(--color-primary-500);
}

.logo-sans {
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 28px;

    line-height: 1;
}

.logo-serif {
    font-family: var(--font-serif);
    font-style: italic;
    font-weight: 500;
    font-size: 30px;

    line-height: 1;
}

.logo-dot {
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 28px;

    color: var(--color-primary-300);
    line-height: 1;
}

.search-container {
    max-width: 1100px;
    
    display: flex;
    flex-grow: 1;
}

.search-wrap {
    position: relative;
    align-items: center;
    
    display: flex;
    flex-grow: 1;
}

.search-icon {
    position: absolute;
    pointer-events: none;
    left: 10px;
}

.search-input {
    flex-grow: 1;
    max-height: 50px;
    padding: 15px 15px 15px 50px;
  
    background-color: var(--color-primary-400);
    border: 1px solid var(--color-primary-300);
    border-radius: 10px;

    font-size: 18px;
    color: var(--color-primary-100);
    transition: 0.15s ease-in-out;
}

.search-input::placeholder {
    color: var(--color-primary-300); 
    opacity: 1; 
}

.search-input:focus {
    border-color: var(--color-primary-200);
    box-shadow: 0 0 0 3px var(--color-primary-400);
    outline: 0;
}

.search-input::selection {
    background-color: var(--color-white);
    color: var(--color-primary-400);
}

.btn-actions {
    display: flex;
    gap: 20px;
}