/* base style and core css styling */
/* font faces */
@font-face {
    src: url(../fonts/helvetica/HelveticaNeue-Light.otf) format("opentype");
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    src: url(../fonts/helvetica/HelveticaNeue-Roman.otf) format("opentype");
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url(../fonts/helvetica/HelveticaNeue-Medium.otf) format("opentype");
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    src: url(../fonts/helvetica/HelveticaNeue-Bold.otf) format("opentype");
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    src: url(../fonts/playfair/PlayfairDisplay-Regular.ttf) format("truetype");
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url(../fonts/playfair/PlayfairDisplay-Italic.ttf) format("truetype");
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url(../fonts/playfair/PlayfairDisplay-MediumItalic.ttf) format("truetype");
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    src: url(../fonts/playfair/PlayfairDisplay-Bold.ttf) format("truetype");
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    src: url(../fonts/playfair/PlayfairDisplay-BoldItalic.ttf) format("truetype");
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

:root {
    /* variable primary blue colors */
    --color-primary-100: #B8CEF6; 
    --color-primary-200: #86b7fe; 
    --color-primary-300: #6F91D0; 
    --color-primary-400: #39559D; 
    --color-primary-500: #22356D; 
    --color-primary-900: #151A28; 

    /* variable greyscale colors */
    --color-grey-200: #1a1a1a; 
    --color-grey-250: #151515;
    --color-grey-300: #22232E; 
    --color-grey-350: #2b2c3b;
    --color-grey-400: #505050; 
    --color-grey-500: #606060;
    --color-grey-600: #9896a8;

    --color-black: #111111;
    --color-white: #fbf5eb; 

    /* error, warning, success colors */
    --color-yellow-300: #3a2e1a;
    --color-yellow-400: #c8a050;;
    --color-yellow-500: #E3D796;

    --color-green-300: #1e3a2a;
    --color-green-400: #335E55;
    --color-green-500: #66AA7A;

    --color-red-300: #5c2d3a;
    --color-red-400: #D06070;
    --color-red-500: #F48685;

    /* variable fonts */
    --font-sans: "Helvetica Neue", Arial, sans-serif;
    --font-serif: "Playfair Display", Georgia, serif;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-color: var(--color-grey-500) var(--color-grey-200);
}

body {
    font-family: var(--font-sans);
    color: var(--color-white); 
    font-weight: 400;

    background-color: var(--color-grey-200);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

.noselect {
  user-select: none;
}

/* button styling */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    min-width: 100px;

    border-radius: 10px;
    padding: 10px 20px;
    gap: 8px;

    font-family: var(--font-sans);
    font-size: 18px;
}

.btn-primary {
    color: var(--color-white); 
    background-color: var(--color-primary-500); 
    border: 1px solid var(--color-white);

    transition: 0.3s ease;
}

.btn-primary:hover {
    color: var(--color-primary-500);
    background-color: var(--color-white);
}

.btn-secondary {
    color: var(--color-primary-500);
    background-color: var(--color-white);
    border: 1px solid var(--color-white);

    transition: 0.3s ease;
}

.btn-secondary:hover {
    color: var(--color-white);
    background-color: var(--color-primary-500);
}
